<!doctype html>

<html>

<head>
    <title>AI Adventures</title>

    <!-- Make it beautiful. -->
    <link rel="stylesheet" href="/index.css" />

</head>

<body>
    <main>
        <h1>AI Adventures</h1>
        <p>
            I'm documenting my experiences learning about AI, covering the
            subject as comprehensively as possible. So far, I've been reading
            papers, listening to interviews, and writing summaries, both to
            reinforce my own learning and to share. Over time I intend to shift
            my focus to balance continuing to learn and offering my own
            thoughts, proposing ideas, and hopefully contributing to practical
            solutions however I can.
        </p>
        <h2>Summaries</h2>
        <table class="index-summaries">
            {% for summary in summaries %}
            <tr>
                <td><a href="/summaries/{{ summary.slug }}.html">{{ summary.title }}</a></td>
                <td>{{ summary.title_date }}</td>
            </tr>
            {% endfor %}
        </table>
    </main>
    <footer>
        <ul>
            <li>&copy; 2023 Dan Tao</li>
            <li><a href="https://twitter.com/dan_tao">Twitter</a></li>
            <li><a href="https://philosopherdeveloper.com">Other writing</a></li>
        </ul>
    </footer>
</body>

</html>
