<!doctype html>

<html>

<head>
    <title>AI Adventures - {{ title }}</title>

    <!-- Make it beautiful. -->
    <link rel="stylesheet" href="/index.css" />
</head>

<body>
    <main>
        <h1><a href="/">AI Adventures</a></h1>

        <h2>{{ title }}</h2>

        {{ content }}
    </main>
    <footer>
        <ul>
            <li>&copy; 2023 Dan Tao</li>
            <li><a href="https://twitter.com/dan_tao">Twitter</a></li>
            <li><a href="https://philosopherdeveloper.com">Other writing</a></li>
        </ul>
    </footer>
</body>

</html>
