<!doctype html>

<html>

<head>
    <title>{{ title }} - Reflections on AI</title>

    <!-- Make it beautiful. -->
    <link rel="stylesheet" href="/index.css" />
</head>

<body>
    <main>
        <h1><a href="/">Reflections on AI</a></h1>

        <heading>
            <h2><a href="/thoughts/{{ slug }}.html">{{ title }}</a></h2>
            <p>
                <span class="date">{{ title_date }}</span>
            </p>
        </heading>

        {{ content }}
    </main>
    <footer>
        <ul>
            <li>&copy; 2023 Dan Tao</li>
            <li><a href="https://twitter.com/dan_tao">Twitter</a></li>
            <li><a href="https://philosopherdeveloper.com">Other writing</a></li>
        </ul>
    </footer>
</body>

</html>
